<?xml version="1.0"?>
<!--
  Copyright © MagedIn. All rights reserved.
  See COPYING.txt for license details.

  @author Tiago Sampaio <tiago.sampaio@magedin.com>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magedin_loginascustomer>
            <general>
                <enable>1</enable>
                <customer_grid_login_column>actions</customer_grid_login_column>
                <disable_page_cache>0</disable_page_cache>
            </general>
            <security>
                <secret_key_expiration_time>60</secret_key_expiration_time>
            </security>
        </magedin_loginascustomer>
    </default>
</config>
